<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softlab.provider.mapper.ArticleMapper">

    <select id="selectAllArticle" resultType="com.softlab.common.model.vo.ArticleVo">
        SELECT
            a.article_id AS articleId,
            a.title AS title,
            a.time AS time,
            a.view_number AS viewNumber,
            a.comment_number AS commentNumber,
            a.category AS category,
            a.pic AS pic,
            u.user_icon AS icon,
            u.user_name AS userName,
            p.paiwei AS paiwei,
            p.img AS img
        FROM
            article a
            INNER JOIN user u ON u.open_id = a.open_id
            INNER JOIN pace p ON u.open_id = p.open_id
        WHERE
            a.is_pass = 1
        ORDER BY
            time DESC
    </select>

    <select id="selectArticleDetail" resultType="com.softlab.common.model.vo.ArticleVo">
        SELECT
            a.article_id AS articleId,
            a.title AS title,
            a.time AS time,
            a.view_number AS viewNumber,
            a.comment_number AS commentNumber,
            a.category AS category,
            a.pic AS pic,
            u.user_icon AS icon,
            u.user_name AS userName,
            p.paiwei AS paiwei,
            p.img AS img
        FROM
            article a
            INNER JOIN USER u ON u.open_id = a.open_id
            INNER JOIN pace p ON u.open_id = p.open_id
        WHERE
            a.article_id = #{arg0}
        LIMIT
            1
    </select>

    <select id="selectArticleByKeyword" parameterType="java.lang.String"
            resultType="com.softlab.common.model.vo.ArticleVo">
        SELECT
            a.article_id AS articleId,
            a.title AS title,
            a.time AS time,
            a.view_number AS viewNumber,
            a.category AS category,
            a.pic AS pic,
            a.comment_number AS commentNumber,
            a.content AS content,
            a.like_number AS likeNumber,
            u.user_icon AS icon,
            u.user_name AS userName,
            p.paiwei AS paiwei,
            p.img AS img
        FROM
            article a
            INNER JOIN USER u ON u.open_id = a.open_id
            INNER JOIN pace p ON u.open_id = p.open_id
        WHERE
            a.title LIKE CONCAT(CONCAT('%',#{arg0},'%'))
            AND
            a.is_pass = 1
        ORDER BY
            time DESC
    </select>

    <select id="selectArticleByOpenId" parameterType="java.lang.String"
            resultType="com.softlab.common.model.vo.ArticleVo">
        SELECT
            a.article_id AS articleId,
            a.title AS title,
            a.time AS time,
            a.comment_number AS commentNumber,
            a.category AS category,
            a.pic AS pic,
            u.user_icon AS icon,
            u.user_name AS userName,
            p.paiwei AS paiwei,
            p.img AS img
        FROM
            article a
            INNER JOIN USER u ON u.open_id = a.open_id
            INNER JOIN pace p ON u.open_id = p.open_id
        WHERE
            a.open_id = #{arg0}
        ORDER BY
            time DESC
    </select>

    <insert id="insertArticle" parameterType="com.softlab.common.model.Article">
        insert into article(
            title, open_id, time, content, pic, view_number, like_number, comment_number, is_pass, category
        ) values (
            #{title}, #{openId}, #{time}, #{content}, #{pic}, #{viewNumber}, #{likeNumber},
            #{commentNumber}, #{isPass}, #{category}
        )
    </insert>

    <delete id="deleteArticle" >
        delete from article
        where article = #{arg0}
    </delete>


</mapper>