<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softlab.provider.mapper.PaceMapper">

    <insert id="addPace">
        insert into pace(open_id, paiwei, pace, img, color, rank)
        values(#{openId}, #{paiwei}, #{pace}, #{img}, #{color}, #{rank})
    </insert>
    <insert id="addRunData">
        insert into run(open_id, run_data, run_time)
        values(
              #{openId},
          <if test="null != runData and '' != runData">
              #{runData},
          </if>
          <if test="null != runTime and '' != runTime">
              #{runTime}
          </if>
          )
    </insert>
    <update id="updatePace">
        update pace
        set
        <if test="null != openId and '' != openId">
            open_id = #{openId},
        </if>
        <if test="null != paiwei and '' != paiwei">
            paiwei = #{paiwei},
        </if>
        <if test="null != pace and '' != pace">
            pace = #{pace},
        </if>
        <if test="null != img and '' != img">
            img = #{img},
        </if>
        <if test="null != color and '' != color">
            color = #{color},
        </if>
        <if test="null != rank and '' != rank">
            rank = #{rank},
        </if>
        open_id = #{openId}
        where open_id = #{openId}
    </update>

    <select id="selectPaceDescRank" resultType="com.softlab.common.model.vo.PaceVo">
        select p.open_id as openId, paiwei, pace, img, color, rank, u.user_name as name
        from pace p, user u where p.open_id = u.open_id order by p.rank;
    </select>


    <select id="selectPaceVo" resultType="com.softlab.common.model.vo.PaceVo">
        select p.open_id as openId, paiwei, pace, img, color, rank, u.user_name as name, u.user_icon as icon
        from pace p, user u where p.open_id = #{openId} order by p.rank;
    </select>

    <select id="selectPaceVo1" resultType="com.softlab.common.model.vo.PaceVo">
        select p.open_id as openId, paiwei, pace, img, color, rank, u.user_name as name
        from pace p, user u where p.open_id = #{openId} order by p.rank;
    </select>

    <select id="selectPace1" resultType="com.softlab.common.model.Pace">
        select p.open_id as openId, paiwei, pace, img, color, rank
        from pace p;
    </select>
    <select id="selectRunData" resultType="com.softlab.common.model.vo.RunVo">
        select open_id openId, run_data runData, run_time runTime, u.user_name as userName
        from run, user u
    </select>
    <select id="init1" resultType="com.softlab.common.model.vo.PaceVo">
        select open_id openId, pace
        from pace;
    </select>


</mapper>