<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softlab.provider.mapper.ArticleMapper">

    <select id="selectAllArticle" resultType="com.softlab.common.model.vo.ArticleVo">
        select a.article_id as articleId, a.title as title, a.time as time,
               a.view_number as viewNumber,a.category as category, a.pic as pic,
               u.user_icon as icon, u.user_name as userName,
               p.paiwei as paiwei, p.img as img
        from article a
        inner join user u on u.open_id = a.open_id
        inner join pace p on u.open_id = p.open_id
    </select>

    <select id="selectArticleDetail" resultType="com.softlab.common.model.vo.ArticleVo">
        select a.article_id as articleId, a.title as title, a.time as time,
               a.view_number as viewNumber,a.category as category, a.pic as pic,
               u.user_icon as icon, u.user_name as userName,
               p.paiwei as paiwei, p.img as img
        from article a
                 inner join user u on u.open_id = a.open_id
                 inner join pace p on u.open_id = p.open_id
        where a.title like CONCAT(CONCAT('%',#{arg0},'%'))
    </select>

    <select id="selectArticleByKeyword" parameterType="java.lang.String"
            resultType="com.softlab.common.model.vo.ArticleVo">
        select a.article_id as articleId, a.title as title, a.time as time,
               a.view_number as viewNumber, a.category as category, a.pic as pic,
               a.comment_number as commentNumber, a.content as content,
               a.like_number as likeNumber,
               u.user_icon as icon, u.user_name as userName,
               p.paiwei as paiwei, p.img as img
        from article a
        inner join user u on u.open_id = a.open_id
        inner join pace p on u.open_id = p.open_id
        where a.article_id = #{arg0}
    </select>

    <select id="selectArticleByOpenId" parameterType="java.lang.String"
            resultType="com.softlab.common.model.vo.ArticleVo">
        select a.article_id as articleId, a.title as title, a.time as time,
               a.comment_number as commentNumber,a.category as category, a.pic as pic,
               u.user_icon as icon, u.user_name as userName,
               p.paiwei as paiwei, p.img as img
        from article a
        inner join user u on u.open_id = a.open_id
        inner join pace p on u.open_id = p.open_id
        where a.open_id = #{arg0}
    </select>

    <insert id="insertArticle" parameterType="com.softlab.common.model.Article">
        insert into article(
            title, open_id, time, content, pic, view_number, like_number, comment_number, is_pass, category
        ) values (
            #{title}, #{openId}, #{time}, #{content}, #{pic}, #{viewNumber}, #{likeNumber},
            #{commentNumber}, #{isPass}, #{category}
        )
    </insert>

    <delete id="deleteArticle" >
        delete from article
        where article = #{arg0}
    </delete>


</mapper>